@tailwind base;
@tailwind components;
@tailwind utilities;

.typed {
  @apply block whitespace-nowrap border-r-4 border-solid border-r-blue-500 overflow-hidden;
  font-family: monospace;
  width: 16.3ch;
  text-shadow: 2px 2px 0 #efd81d;
  border-right-color: black;
  animation: typing 2s steps(16), blink .5s infinite step-end alternate;
}

@keyframes typing {
  from { width: 0; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

.social__instagram {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  letter-spacing: 0.03125rem;
  cursor: pointer;
  transition: all 0.25s ease-in-out 0s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.4rem;
  gap: 0px;
  min-height: 36px;
  min-width: 36px;
  color: rgb(255, 255, 255);
  background: radial-gradient(circle at 28% 110%, rgb(253, 244, 151) 0%, rgb(253, 244, 151) 5%, rgb(253, 89, 73) 45%, rgb(214, 36, 159) 60%, rgb(40, 90, 235));
}

.social__linkedin {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  letter-spacing: 0.03125rem;
  cursor: pointer;
  transition: all 0.25s ease-in-out 0s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.4rem;
  gap: 0px;
  min-height: 36px;
  min-width: 36px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 119, 181);
}

.social__github {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  letter-spacing: 0.03125rem;
  cursor: pointer;
  transition: all 0.25s ease-in-out 0s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.4rem;
  gap: 0px;
  min-height: 36px;
  min-width: 36px;
  color: rgb(255, 255, 255);
  background-color: rgb(51, 51, 51);
}

/* *::-moz-selection {
  @apply text-white bg-primary;
}

*::selection {
  @apply text-white bg-primary;
} */

/* Truncate Project Description */

.project__description--truncate{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
