---
import MainLayout from 'layouts/MainLayout.astro';
---

<MainLayout title='Página no Encontrada'>
  <div class='w-full h-screen bg-textAcent-500 text-white flex flex-col justify-center items-center px-4 relative'>
    <div class='w-full h-screen flex flex-col justify-center items-center z-30'>
      <span class='text-9xl font-black mt-5'>404</span>

      <p class='font-semibold text-4xl mt-3 text-center'>Página no encontrada</p>

      <a href='/' class='block w-44 rounded-full px-4 py-2 bg-[#FFAA00] text-center uppercase font-bold mt-4'>
        Ir al inicio
      </a>
    </div>
  </div>
</MainLayout>